.vscode/
engine/.venv
.env
/engine/features/organizer/__pycache__
/engine/features/teams/migrations/__pycache__
/engine/features/announcements/migrations/__pycache__
/engine/features/announcements/__pycache__
/engine/features/competitions/migrations/__pycache__
/engine/features/competitions/__pycache__
/engine/features/injects/migrations/__pycache__
/engine/features/injects/__pycache__
/engine/features/network/migrations/__pycache__
/engine/features/network/__pycache__
/engine/features/teams/migrations/__pycache__
/engine/features/teams/management/__pycache__
/engine/features/teams/management/commands/__pycache__
/engine/core/__pycache__