.vscode/
engine/.venv
.env
/engine/features/organizer/__pycache__
/engine/features/teams/migrations/__pycache__
/engine/features/announcements/migrations/__pycache__
/engine/features/announcements/__pycache__
/engine/core/__pycache__