{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}{% endblock %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% block extrastyle %}{% endblock %}
    {% block extrahead %}{% endblock %}
</head>

<body>

<nav class="navbar">
    <div class="navbar-left">
        <a href="{% url 'admin:index' %}">Palisade Administration</a>
    </div>

    <div class="navbar-right">
        <a href="{% url 'admin:competitions_competition_changelist' %}">Competitions</a>
        <a href="{% url 'admin:teams_team_changelist' %}">Teams</a>
        <a href="{% url 'admin:announcements_announcement_changelist' %}">Announcements</a>
        <a href="{% url 'admin:injects_inject_changelist' %}">Injects</a>
    </div>
</nav>

{% block breadcrumbs %}{% endblock %}

<div id="content">
    {% block messages %}{% endblock %}
    {% block content %}{% endblock %}
</div>

</body>
</html>